



<div class="row">
  <div class="container g_box">
  <div class="box">
    <div class="col-sm-12 header">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>
            Paiement
          </h2>
        </div>
      </div>
    </div>

          <div class="paymentWrap">
							<div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">               
					            <label class="btn paymentMethod">
				            		<div class="method momo"></div>
					                <input type="radio" name="options" class="logo">
					            </label>
					            
					        </div>
						</div>

            <div class="form-group" >
              <div class="col-xs-12" id="cel_phone_num" >
                <span class="text-danger text-sm"><p>Utilisez votre téléphone mobile pour valider le paiement</p></span>
                <span *ngIf="paystatus" class="text-small">en cour de validation...</span>

                <div class="spinner-grow text-warning" style="width: 4rem; height: 4rem;"  role="status" *ngIf="paystatus">
                </div>

              <label for="phone_num" *ngIf="paystatus==false">Saisissez votre numéro de téléphone</label>
              <br>
                <div class="iti">
                  <input type="tel" id="phone_num" name="phone_num" class="form-control" placeholder=" Votre numéro de téléphone" [(ngModel)]="phone">
                </div>
              </div>
            </div>
          <div class="form-group">
            <div class="col-xs-12 validation">
              <a hidden id="ok" (click)="ClearTimer()">ok</a>
              <button type="submit" role="button" class="btn btn-success btn-block" (click)="pay()">
                 <span class="fa fa-check-square"></span>
                PAYER
              </button>
              <a role="boutton" class="btn-warning btn" style="margin-left: 15%; margin-top: 5%;"(click)="backcheck()">Retour</a>

            </div>
          </div>
  </div>
</div>
</div>



