
<app-header [cart_items]="cart_items"></app-header>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Panier</h1>
     </div>
</section>

<section class="cart-block" *ngIf="isempty==false">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Images </th>
                            <th scope="col" class="entete">Produits</th>
                            <th scope="col" class="text-center entete">Quantité</th>
                            <th scope="col" class="text-right entete">Prix Unitaire</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let elts of cart_items">
                            <td><img [src]="elts.face1" width="100" height="100" class="img-thumbnail" /> 
                                <img [src]="elts.face2" width="100" height="100" class="img-thumbnail" /> 
                            </td>
                                 <td>
                                     <div class="card" style="width: 10rem;">
                                        <div class="card-header">
                                          Description
                                        </div>
                                        <ul class="list-group list-group-flush">
                                          <li class="list-group-item">{{elts.name}}</li>
                                          <li class="list-group-item">{{elts.shape}}</li>
                                          <li class="list-group-item" *ngIf="elts.size.m">M</li>
                                          <li class="list-group-item" *ngIf="elts.size.l">L</li>
                                          <li class="list-group-item" *ngIf="elts.size.xl">XL</li>
                                          <li class="list-group-item" *ngIf="elts.size.xxl">XXL</li>



                                        </ul>
                                      </div>

                                 </td>
                            <td class="text-center">
                                            <p class="to text text-primary" *ngIf="update">{{elts.qty}}</p>
                                            <a class="btn btn-danger"><i class="fad fa-edit"></i></a>
<!--
 <div class="row" style="background: #fff !important;">
     <div class="row" style="background: #fff !important;">
                                              <a type="button" class="input-number-decrement btn btn-primary btn-sm" [name]="cart_items.indexOf(elts)" (click)="getPricem($event)">–1</a>
                              
                                              <a type="button" class="input-number-increment btn btn-secondary btn-sm" [name]="cart_items.indexOf(elts)" (click)="getPrice($event)">+1</a>
                                            </div>
                                                 <p class="to text text-primary" *ngIf="update==false">{{inpnmb}}</p>

                                              <a type="button" class="input-number-increment_div btn btn-secondary btn-sm" [name]="cart_items.indexOf(elts)" (click)="divide($event)">:5</a>
                    
                                              <a type="button" class="input-number-increment_by btn btn-secondary btn-sm" (click)="decremet_by($event)" [name]="cart_items.indexOf(elts)">x5</a>
        
                                            </div>    
-->
                                            
                            </td>
                            <td class="text-right">{{elts.price}}  Fcfa</td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-danger">
                                <i class="fa fa-trash" [id]="cart_items.indexOf(elts)" (click)="removeItem($event)"></i> </a> 
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                           
                            <td></td>
                            <td>Sous-Total</td>
                            <td class="text-right">{{sub_total}} Fcfa</td>
                        </tr>
                        
                     
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a href="#" class="btn btn-lg btn-block text-uppercase" style="background-color: #fab91a; color: #324161;">POURSUIVRE VOS ACHATS</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a  class="btn btn-lg btn-block text-uppercase" style="background-color: #324161; color: white;" (click)="finale_step($event)">FINALISER VOTRE COMMANDE</a>
                </div>
            </div>
        </div>
    </div>
</section>



<div  *ngIf="isempty">
    <div class="text">
        <p>Récapitulatif de la commande</p>
      </div>
      <div class="image">
        <img src="/assets/image/Lampe pas de commande.png" alt="">
      </div>
      <div class="text-bas">
        <p>Il n'y a aucune commande</p>
        <a class="btn btn-lg btn-primary" href="/home">Continuer mes achats</a>
      </div>
</div>



<app-footer></app-footer>
