<app-header [cart_items]="cart_length"></app-header>
<br><br><br>
<body>
  
<!----
  <nav class="navbar navbar-expand-lg collapse navbar-light bg-light"  id="texts" style="background: #324161 !important;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a data-toggle="tooltip" data-placement="top" title="texte" class="nav-link text-white" (click)="createText()">
          <i class="fad fa-text"></i></a>
      </li>
      <li class="nav-item ">
        <a data-toggle="tooltip" data-placement="top" title="gras" (click)=" MakeBold($event)" class="nav-link  text-white">
          <i class="fas fa-bold"></i><span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item">
        <a (click)="MakeItalic($event)" class="nav-link text-white" data-toggle="tooltip" data-placement="top" title="italic">
          <i class="fas fa-italic"></i>
        </a>
      </li>

      <li class="nav-item">
        <a  class="nav-link text-white" (click)="underline()" data-toggle="tooltip" data-placement="top" title="Sourligner">
          <i class="fa fa-underline"></i>
        </a>
      </li>
      <li class="nav-item">
        <a  class="nav-link  text-white" (click)="removeItem()" data-toggle="tooltip" data-placement="top" title="supprimer">
          <i class="fad fa-trash"></i>
        </a>
      </li>

      <li class="nav-item">
        <a  class="nav-link text-white" (click)="setTextBeforeEdit()" data-toggle="tooltip" data-placement="top" title="retour"><i class="fas fa-undo"></i></a>
      </li>
      <li class="nav-item">
        <a  class="nav-link text-white"  (click)="Copy()" data-toggle="tooltip" data-placement="top" title="Copier">
          <i class="far fa-clone"></i>
        </a>
      </li>

      <li class="nav-item">
        <a  class="nav-link text-white" (click)="Paste()" data-toggle="tooltip" data-placement="top" title="Coller">
          <i class="fal fa-paste"></i>
        </a>
      </li>
     
  <li class="dropdown nav-item">
    <a class="btn btn-light dropdown-toggle dropdown-toggle-split nav-link"  role="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-text-height"></i> </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
      <select  id="font-height"  (change)="ChangeTextHeight($event)">
      </select>
    </div>
  </li>

<li class="nav-item">
  <a class="nav-link text-white"  data-toggle="collapse" data-target="#text-height" aria-expanded="false" aria-controls="text-height"  title="hauteur du texte"><i class="fa fa-text-height"></i></a>
  
<div class="collapse" id="text-height">
  <label for="Range3" class="form-label text-white text-sm">Hauteur:{{text_height}}</label>
<input type="range" class="form-range " name="height" min="5" max="100" step="5" id="Range3" [(ngModel)]="text_height">
</div>
</li>
<li class="nav-item">
  <a  class="nav-link text-white"  data-toggle="collapse" data-target="#text-width" aria-expanded="false" aria-controls="text-width" title="largeur texte"><i class="fas fa-text-width"></i></a>
  <div class="collapse" id="text-width">
    <label for="customRange3" class="form-label text-white text-sm">Largeur:{{text_width}}</label>
    <input type="range" class="form-range" min="30" name="width" max="800" step="5" id="customRange3" [(ngModel)]="text_width">
  </div>
</li>


<li class="li nav-item  text-white">
    <i class="fas fa-font" data-toggle="tooltip" data-placement="top" title="police"></i>
  <select  id="font-family" name="font-family" (change)="selectChangeHandler($event)">
  </select>
</li>

      <li class="nav-item">
         
          <color-circle [colors]="colorarray" (onChange)="texteclor($event)"></color-circle>

      </li>
  <li class="nav-item">
    <div class="collapse" id="stroketexts">
      <label for="stroke" class="form-label text-white text-smt">taille:{{stroke_size}}</label>
      <input type="range"class="form-range" name="stroke" min="1" max="8" step="1" id="strokesize" [(ngModel)]="stroke_size"/>      
      <label for="strokecolor" class="form-label text-white text-capitalize">couleur</label>
      <br>
      <color-circle [colors]="colorarray" (onChange)="setStroke($event)"></color-circle>

    </div>
  </li>

  <li class="nav-item">
    <div class="collapse" id="shadowing">
      <color-circle [colors]="colorarray" (onChange)="setshdow($event)"></color-circle>
    </div>
  </li>

  <li class="nav_item">
<div class="btn-group">
  <button type="button" class="btn  nav-link text-white">EFFET SUR LE TEXTE</button>
  <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" data-toggle="collapse" data-target="#stroketexts" aria-expanded="false" aria-controls="stroketexts"   title="stroked text">contour les lettres du texte</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" data-toggle="collapse" data-target="#shadowing" aria-expanded="false" aria-controls="#shadowing"   title="shadow text">effet shadow sur le texte</a>

  </div>
</div>
  </li>
    </ul>
    
  </div>
textoverline=(event:any)=>{
  
</nav>
-->
<div class="container-fluid" >
 <div class="row f"  >
  <app-text (newTextPlusEvent)="textwidthplusOne($event)" (newTextWidthtEvent)="textwidth($event)" (newTextMinusEvent)="textwidthminus($event)" (newTextEvent)="createText($event)" (newTextOverlineEvent)="textoverline($event)"  (newTextRemoveEvent)="removeItem()" (newTextFontEvent)="selectChangeHandler($event)" (newTextColorEvent)="texteclor($event)" (newTextUnderlineEvent)="underline()" (newTextBoldEvent)="MakeBold($event)" (newTextItalicEvent)="MakeItalic($event)" (newTextReturnEvent)="setTextBeforeEdit()" (newTextCopyEvent)="Copy()" (newTextPasteEvent)="Paste()"></app-text>
 </div>

<div class="row" id="myrow" > 
<div id='mycol' class="mycol">  
  <style>
    .f{
      margin-left: 10%;
      margin-top: auto;
    }
  @media screen and (min-width: 480px) {
#mycol{
height: 500px;
width: 180px;
margin-left: 80px;
margin-right: 10%;
background: #fff !important;
margin-right: 0px;
text-transform: lowercase;
font-family: 'Times New Roman', Times, serif;
border-radius: 15px white solid;
text-align: center;
margin-top: 0%;
}


}
    @media screen and (max-width: 980px) {
#mycol{
height: 500px;
width: 180px;
margin-left: 80px;
margin-right: 10%;
background: #fff !important;
margin-right: 0px;
text-transform: lowercase;
font-family: 'Times New Roman', Times, serif;
border-radius: 15px white solid;
text-align: center;


}

.custom{
  margin-top: 40%;
  margin-left: 50%;
  position: absolute;
  bottom:0;
  float: inline-end;
}


    }
 </style> 
 
  <div class="row auto-max">
    <!--
    <a class="btn " href="/home">retour</a>

    -->
    <a class="btn"  data-toggle="modal" data-target="#products">Produits</a>

   </div>
  


  <div class="row auto-max">

    <a class="btn"  data-toggle="modal" data-target="#shape" >Formes</a>

   </div>

  
<!----
  <div class="row auto-max">
    <a class="btn" data-toggle="modal" data-target="#design">Designs</a>
   </div>
  -->
  <div class="row auto-max">
    <a class="btn"  data-toggle="modal" data-target="#clips" >Clipsparts</a>

   </div>

   <div class="row auto-max">

      <input type="file" id="file" name="link"class="file-upload" (change)="onFileUpload($event)">
      <img [src] ="imagePreview" (click)="setLogo($event)">

      <a class="btn" ><label for="file" class="importer">IMPORTER</label></a>
   </div>
   
</div>

      <div class="col-sm-4 col-md-4 col-lg-4" id="aladin-wraper">
       
            <div class=" text-danger d-flex justify-content-center"(contextmenu)="OnRightClick($event)">  
              
              <canvas id="aladin-editor" height="650" width="750">
              </canvas>
              <app-faces [URL]="s" [face1]="face1" (newItemEvent)="turnImage($event)" [front]="pfront" [back]="pback"></app-faces>
              <a data-toggle="modal" data-target="#examleModal" id="xdv" hidden>
              </a>

  <div class="modal fade" id="examleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-body modale">
          <a  data-toggle="tooltip" data-placement="top" title="Mettre en gras" (click)="MakeBold($event)">
          <i  class="fa fa-bold"></i>
          </a>
          <a  data-toggle="tooltip" data-placement="top" title="Italic" (click)="MakeItalic($event)">
          <i class="fa fa-italic"></i>
          </a>
          <a  data-toggle="tooltip" data-placement="top" title="Sourligner" (click)="underline()">
          <i class="fa fa-underline"></i>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="police" >
          <i class="fa fa-font" data-toggle="modal" data-target="#exaModal"></i>
          <div class="modal fade" id="exaModal" tabindex="-1" aria-labelledby="exaModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
              <div class="modal-content" style="margin-bottom: 165px;">
                <div class="modal-body">
                    <select name="font" id="family" (change)="selectChangeHandler($event)" >
                    </select>
                   
                </div>
              </div>
              </div>
            </div>
          </a>
          <a  data-toggle="tooltip" data-placement="top" title="Supprimer" (click)='removeItem()'>
          <i style="color: red;" class="fa fa-trash-alt"></i>
          </a>
          <a  data-toggle="tooltip" data-placement="top" title="Copier" (click)="Copy()">
          <i class="fa fa-copy"></i>
          </a>
          <a  data-toggle="tooltip" data-placement="top" title="Coller" (click)="Paste()">
          <i class="fa fa-paste"></i>
          </a>
          <a  data-toggle="tooltip" data-placement="top" title="annulé" (click)="setTextBeforeEdit()">
          <i class="fa fa-sync"></i>
          </a>
          <color-circle [colors]="colorarray" (onChange)="texteclor($event)"></color-circle>
          
        </div>
       
      </div>
      
    </div>
  </div>
          </div>  
      </div>
<div class="col-md-4 col-lg-2 col-sm-3">

  <div class="custom">
    <hr style="background: #fff !important;box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1); border: #324161 dashed 2px;">

    <div class="col" data-toggle="tooltip" data-placement="top" title="mes designs" >
        <a class="btn" data-toggle="modal" data-target="#detail" >Mes Designs</a>
    </div>
    <hr style="background: rgb(146, 30, 30) !important;box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1); height: 10px;">

    <div class="col" data-toggle="tooltip" data-placement="top" title="Enregistrer le design" >
      <span class="col text-primary">
        <a class="btn btn-lg" id="pri" (click)="savedesign($event)"><i class="far fa-save fa-7x"></i></a>
      </span>
    </div>

    <br>
    <hr style="background: rgb(146, 30, 30) !important;box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1); height: 10px;">
 
    <span class="col " data-toggle="tooltip" data-placement="top" title="couleur du produit"  style="color: #324161;">
     
      <a  class="btn text-primary"  data-toggle="collapse" data-target="#couleur" aria-expanded="false" aria-controls="couleur" >
        <i class="fal fa-paint-brush fa-3x">
        </i>
      </a>
    </span>
<div class="col collapse" id="couleur">
  <color-circle [colors]="colors" (onChange)="changeComplete($event)"></color-circle>

</div>
   
    <hr style="background: #fff !important;box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1); border: #324161 dashed 2px;">

  </div>

</div>


<div id="detail" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm modal-lg">
      <div class="modal-content">
          <div class="modal-body">
       <app-designs [face1]="origin" [url]="face2"></app-designs>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary"  data-dismiss="modal">Fermer</button>
          </div>
      </div>
  </div>
</div>

</div>


  <!-- Modal -->

  <div class="modal fade " id="products">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body col">
          <app-products (newItemEvent)="setImage($event)"></app-products>
          </div>
        <div class="modal-footer col-lg-2 col-md-3">
          <button type="button" class="btn btn-lg btn-block text-white float-right" id="closept" data-dismiss="modal" style="background-color: #324161; text-align: center;">fermer</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade " id="clips">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body col">

          <app-clipart (newItemEvent)="setLogo($event)"></app-clipart>

          </div>
        <div class="modal-footer col-lg-2 col-md-3 ">
          <button type="button" class="btn  btn-block text-white float-right" data-dismiss="modal" style="background-color: #324161; text-align: center;">fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="shape">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body col">
          <app-forme (newItemEvent)="setLogo($event)"></app-forme>
           </div>
        <div class="modal-footer col-lg-2 col-md-3 ">
          <button type="button" class="btn  btn-block text-white float-right" data-dismiss="modal" style="background-color: #324161; text-align: center;">fermer</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<br><br><br>
<br><br><br>

<app-footer></app-footer>
