// .container-fluid{
//   max-width: 1185px;
//   text-align: center;
//   margin-top: 10%;
// }

// .box {
//   flex-basis: 75%;
//   max-width: 75%;
//   min-width: 75%;
//   width: 75%;
//   box-shadow: 0 2px 5px 0 rgb(0 0 0/5%);
//   border-radius: 4px;
// }

// header{
//   display: flex;
//   padding: 8px 16px;
//   height: 0;
//   min-height: 48px;
//   align-items: center;
//   border-bottom: 1px solid #ededed;
// }

// h1{
//   font-size: 1.25rem;

// }
// .row{
//   display: flex;
// }

// .card{
//   padding: 8px;
//   margin-left: auto;
// }

// .list{
//   padding: 8px;
// }

// article{
//   padding: 8px;
// }

// .list article a{
//   display: inline-block;
// }
.row{
    margin-top: 10%;
    justify-content: center;
  
  }
  img{
    width: 104px;
    height: 104px;
    border-style: none;
  }
  
  .achete{
    margin-bottom: 10px;
  }
  
  .btn{
    width: 100%;
  }
  
  .text{
    padding-left: 5%;
    padding-top: 30px;
  }
  
  .list-group-item{
    border-bottom: 1px solid #ededed;
  }
  