:root{
  --bleu:#324161;
  --jaune:#fab91a;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

// --- partie image-------------------
/*
.container .box-image{

  max-width: 100%;
  height: 0%;
  margin-right: -6%;
}

#body{
  margin-top: 5%;
  border: solid 5px #324161;
  border-radius: 20px;
  position: relative;
}

.box-image{
  padding-left: 70px;

}

.box-text{
  color: #324161;
  // padding-top: 10%;
}

.box-text p{
  font-size: 60px;
  font-weight: bold;
  padding-top: 30px;
  font-style: italic;
  text-align: center;

}
.decouvrir{
  margin-bottom: 8%;
  // text-align: center;
}
.btn-decouvrir{
  border-radius: 1.25rem;
  font-weight: bold;
  background-color: #324161;
  color: white;
  font-size: 1.6rem;
  margin-left: 16%;
}

.btn-decouvrir:hover{

  background-color: #1b2333;
  color: #fab91a;
}
//----- fin partie image--------
.section-personnalisation{

  padding: 30px;
  border: solid 1px #ccc;
  border-radius: 15px;
  box-shadow: 0px 0px 3px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.section-personnalisation1{

  //border: solid 2px #ccc;
  border-radius: 15px;
  box-shadow: 0px 0px 3px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.menu{
  padding:10px;
}

.produit{
  display: flex;
  // flex-direction: row;
  // justify-content: space-around;

}
a{
    text-decoration: none;
}

h1{
    color: #324161;
    font-weight: bold;
   margin-top: 50px;
   margin-left: 15px;
}
span{
    color: #fab91a;
    font-weight: bold;
}
.img{
  border: solid 1px #fab91a;
  // margin: 20px;
}

.produit .perso1{

  border: solid 2px #fab91a;
  margin: 2px;

}



img{
  width: 100%;
}

.perso{
  margin-bottom: 10px;
}
.perso:hover{
  transform: scale(1.02);
}

.txt{

  background: #fab91a;
  border-radius: 15px 15px 0px 0px;
  height: 50px;

}
.txt .txt-yellow{
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-left: 30px;
}

.txt p{
  display: flex;
}

.txt p .voir-plus{
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-right: 20px;
  margin-left: auto;
}


.txt-produit{
  font-size: 15px;
  box-shadow: 0px 0.5px 6px;
  border: solid 0.2px #e7e7e7;
  border-radius: 8px;
  color: #324161;
  font-weight: bold;
  text-align: center;
  margin: 5px;
  padding: 5px;
}
*/
.card:hover .middle {
  opacity: 1;
}
.card:hover .img {
  opacity: 0.5;
}
.im{
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: relative;
  /* top: -12%; */
  left: 49%;
  bottom: 45px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.btn{
  background: #324161;
  color: white;
  position: relative;
  bottom: 81px;
}
.btn:hover{
  color: white;
}
.des{
  font-size: 12px;
  color: black;
  font-weight: normal;
}
img{
  width: 100%;
  background: #eee;
}
.card{
  border: none;
  box-shadow: none;
  margin: 12px;
  width: 238px;
}
.card:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  content:'Je personnalisee';
}
a{
  text-decoration: none;
}
p{
  font-family: 'Poppins',sans-serif;
  color: #324161;
  font-weight: bold;
}
strong{
  font-family: 'Roboto';
  color: #fab91a;
  
}
.prix{
  font-size: 20px;
}
.card-body{
  //border: solid 1px #eee;
  //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 261px;
  margin-left: 11px;
  margin-top: -48px;
}
.card-body:hover{
  border: none;
}
.card-columns{
  display: contents;
  margin-top: 15px;
}
@media screen and (max-width:768px) {
  .card{
    position: relative;
    left: 33px;
    margin: 12px;
  }
  .card-columns{
    display:inline-block;
    
  }
}