
<div class="container">
    <div class="main pt-5 mx-lg-5">
      <div class="container mt-5">
        <div class="card mb-4">
          <div class="card-body">
            <h4 class="mb-2 mb-sm-0 pt-1">
              <span class="title">
                Vos Commandes
              </span>
            </h4>
          </div>
        </div>

        <div class="card produit" *ngFor="let item of order">
          <div class="row">
              <div class="col-md-6 md-4">
                <div class="col16">
                  <div class="body">
                    <div class="img">
                      <img [src]="item.description.face1" alt="" width="104" height="104">
                      <img [src]="item.description.face2" alt="" width="104" height="104">

                    </div>
                    <div class="text-des">
                      <h2 class="descript">{{item.description.name}}</h2>
                      <p class="cmd">{{item.ord_id}}</p>
                      <span class="qte"><p>QTY</p> {{item.description.qty}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 md-4 body">
                <div>
                  <h2 class="descript">{{item.dmode}}</h2>
                  <div>
                    <span><strong>Total:</strong>{{item.description.t}} </span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 md-4 body">
                <div>
                  
                  <h2 class="descript">Date de Livraison</h2>
                  <div>
                    <span>Le 28 / 06 2021</span>
                  </div>

                </div>
              </div>
            </div>
        </div>

       
    
    </div>
    </div>
    
    
    
    