
.container{

    width: 80%;
    position: absolute;
    left:55%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Poppins',sans-serif;
  
  }
  
  h2{
    font-size: 1rem;
  }
  
  .produit{
    margin-bottom: 10px;
  }
  
  .body{
  display: flex;
  }
  
  .img{
    margin-right: 10px;
  }
  
  .title{
    font-weight: bold;
    color: #fab91a;
  }
  
  .text-des{
    position: relative;
  }
  
  .descript{
    font-weight: 700;
    color: #324161;
  }
  
  .qte{
    color: #75757a;
  }
  
  