

<div class="container" id="checkout">
  <div class="py-5 text-center">
    <h2>Formulaire de paiement</h2>
  </div>
  <div class="row">
    <div class="col-md-6 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Votre panier</span>
        <!-- nombre de produit dans le panier -->
      </h4>
      <ul class="list-group mb-6" >
        <li class="list-group-item col d-flex justify-content-between lh-condensed " *ngFor="let elts of cart_items">
        <img [src]="elts.face1"  height="100" width="100" >
        <img [src]="elts.face2"  width="100" height="100" >
         
        <div>

            <h6 class="my-0">{{elts.name}}</h6>
            <small class="text-muted">description</small>
            <div class="card" style="width: 10rem;">
              <div class="card-header">
                <small class="text-danger text-sm"> caracteristiques</small>

              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{elts.shape}}</li>
                <li class="list-group-item" *ngIf="elts.size.m">M</li>
                <li class="list-group-item" *ngIf="elts.size.l">L</li>
                <li class="list-group-item" *ngIf="elts.size.xl">XL</li>
                <li class="list-group-item" *ngIf="elts.size.xxl">XXL</li>
              </ul>
            </div>

          </div>
          <div>
            <h6 class="my-0">Qté</h6>
            <small class="text-muted">{{elts.qty}}</small>
          </div>
          <div>
            <h6 class="my-0">Prix</h6>
            <small class="text-muted">{{elts.price}}</small>
          </div>
          <div>
            <h6 class="my-0">Total</h6>
            <span class="text-muted">{{elts.t}} fcfa</span>
          </div>    
        </li>
        <div class="card" style="width: 10rem;">
          <div class="card-header">
            <small class="text-danger text-sm">Total à payer</small>
          </div>

          <ul class="list-group list-group-flush">
            <input type="number" hidden [(ngModel)]="total">
            <li class="list-group-item" *ngIf="hasdeliverycost">Frais de livraison: {{delivery_cost}} FCFA</li>
             <li class="list-group-item">total: {{total}} FCFA</li>    
          </ul>

      </div>
      </ul>
    
    </div>
    <div class="col-md-6 order-md-1">
      <h4 class="mb-3">Adresse de facturation</h4>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Nom et prénoms</label>
            <input type="text" class="form-control" id="firstName" name="firname" required [(ngModel)]="data.name">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="data.email" required>
            <div class="invalid-feedback">
              Please enter a valide email adresse.
            </div>
          </div>
         <!-- <div class="col-md-6 mb-3">
            <label for="lastName">Prénom</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>-->
        </div>

        <!--<div class="mb-3">
          <label for="username">Nom d'ulistateur</label>
          <div class="input-group">
            <input type="text" class="form-control" id="username" placeholder="Nom d'ulistateur" required>
            <div class="invalid-feedback" style="width: 100%;">
              Your username is required.
            </div>
          </div>
        </div>-->

        <div class="mb-3">
          <label for="number">Téléphone</label>
          <input type="tel" class="form-control" id="number" name="phone" [(ngModel)]="data.phone" required>
        
        </div> 
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="dlt">Commune</label>
              <select class="custom-select d-block w-100" id="dlt" name="country" required (change)="ChangeHandler($event)" aria-required="true" required >
             
              </select>
         
            <input type="text" name="city" id="city" class="form-control" [(ngModel)]="city" placeholder="example: Bouaké" required *ngIf="isother">

          </div>
         
        </div>
        <div class="mb-3">
          <label for="address">Adresse de Livraison</label>
         <input type="text" name="adl" id="adl" class="form-control" [(ngModel)]="address" placeholder="example: Abidjan yopougon ananerai antenne" required>
         
        </div>
        <hr class="mb-4">

        <h4 class="mb-3">Mode Paiement</h4>

        <div class="d-block my-3">
         
          <div>
            <input id="momo" name="paymentMethod" type="radio" class="r" checked required>
            <label for="debit">Mtn Money</label>
          </div>     
        </div>
        <hr class="mb-4">
        <a role="boutton" class="btn-success btn" style="margin-right: 20%; margin-left: 40%;  margin-top: 0%; top: 0%;" (click)="followp()">Suivant</a>

      </form>
    </div>
  </div>
</div>

<div class="container" *ngIf="payment">

  <app-payment (newbackcheck)="backcheck()" [data]="order_data"></app-payment>
  
  </div>
   

