



<div class="card-columns">
  

  <div class="card" *ngFor="let item of prod">
      <div class="im" style="display: flex;">

        <img [src]="item.face1" alt="">
        <img [src]="item.face2" alt="" >
      </div>
      <div class="card-body">
          <h5 class="card-title">{{item.prod.name}}</h5>
          <p>{{item.prod.price}}  <strong>fcfa</strong> </p>
          <button class="btn" [id]="prod.indexOf(item)"  data-toggle="modal" data-target="#clothmodal" (click)="getProdprice($event)" [name]="item.prod.price"> 
            Ajouter au panier</button> 

      </div> 
      
<div class="modal fade" id="clothmodal"  aria-labelledby="exampModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
  <div class="modal-content">
    <!--
<div class="modal-header">
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" ></button>
        </div>
    -->
      
      <div class="modal-body">
          <div class="container">
              <div class="row ro">
                <div class="col-8">
                  <h6 *ngIf="hide_calco">Taille </h6>
                  <div class="rad" *ngIf="hide_calco">

                  <div class="M">

                  <label for="mcloth">M</label>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="mcloth" name="mcloth" [(ngModel)]="size.m">
                  </div>

                 </div>

                 <div class="M" *ngIf="item.prod.size.l">
                  <label for="lcloth">L </label>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="lcloth" name="lcloth" [(ngModel)]="size.l">
                  </div>
                </div>

                <div class="M" *ngIf="item.prod.size.xl">
                  <label for="xcloth">XL </label>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="xlcloth" name="xcloth" [(ngModel)]="size.xl">
                  </div>
              </div>
              <div class="M" *ngIf="item.prod.size.xxl">
                  <label for="xxcloth">2XL </label>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="xxcloth" name="xxcloth" [(ngModel)]="size.xxl">
                  </div>
              </div>
    
              </div>
              <hr *ngIf="hide_calco">
              <div class="col-8" *ngIf="hide_calco">
                <h6>Types d'impression {{prod.indexOf(item)}}</h6>
                <select class="form-select" aria-label="Default select example" (change)="OnTypeChange($event)">
                  <option selected>choisissez type</option>
                  <option *ngIf="item.prod.type.fl"value="flex">Flex</option>
                  <option *ngIf="item.prod.type.sg" value="serigraphie">Sérigraphie</option> 
                </select>
              
              </div> 

                 <hr *ngIf="hide_calco">
                 <div class="col-8" *ngIf="hide_calco">
                  <h6>formes</h6>
                  <select class="form-select" aria-label="Default select example" (change)="OnShapeChange($event)">
                    <option selected>choisissez la forme</option>
                    <option value="mc">Manche courte</option>
                    <option value="ml">Manche longue</option>
                  </select>
                  
                </div> 

                 <hr>
      
                 <div class=" col-8 btn">
                  <a class="dt" data-toggle="collapse" data-target="#info" aria-expanded="false" aria-controls="info" (click)="hidemodal()">Calculer le montant</a>
                </div>

<div id="info" class="collapse" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-body">
            <p class="to text text-primary">{{price}} Fcfa</p>

           <div class="row">
            <span class="input-number">{{inpnmb}}</span>

           </div>
              <div class="row">
                <a type="button" class="input-number-decrement btn btn-primary" (click)="getPricem()">–1</a>

                <a type="button" class="input-number-increment btn btn-secondary" (click)="getPrice()">+1</a>
              </div>
              <!---->
             <div class="row">
                <a type="button" class="input-number-increment_div btn btn-secondary" (click)="divide()">:5</a>

                <a type="button" class="input-number-increment_by btn btn-secondary" (click)="decremet_by()">x5</a>
  
              </div>
            
          </div>
          <div class="modal-footer">
              <a type="button" class="btn btn-primary" (click)="addtocart($event)" >
                <i class="fas fa-cart-plus" ></i>
              </a>
          </div>
      </div>
  </div>
</div>

                </div>
              </div>
             
            </div>
      </div>
  </div>
  </div>
</div>
  </div>   
</div>

<br>
