
body{
  display: flex;
  flex-direction: column;
}
//css top bar

.navbar{
  color: white;
  flex-wrap: nowrap;
  display: flex;
  font-family: 'Roboto', sans-serif;
  // font-weight: bold;
  //position:fixed;
  width: 100%;
  background: #324161;
  font-family: Roboto;


}

.container-fluid ul{
  float: left;
  position: relative;
  height: 9px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  margin: 14px;





}
.partner a{
background: #fab91a;
color: #324161;
// font-weight: bold;
margin-left: 15px;
top: 8px;

}
.vertical-line{
  border-left: 2px solid white;
  display:inline;
  height: 17px;
  margin: 0 6px;
  position:center;
  opacity: 75%;

}
//fin
// css de la nav bar
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
nav{
  position: sticky;
  top:0;
}
nav .nav{
  display: flex;
  width: 100%;
  background:white;
  //position: sticky;
  //top:0px;
  justify-content: space-between;
  text-align: center;
  padding: 15px 30px;
  box-shadow: 0 0 12px;

}
img {

max-width:100%;
vertical-align: middle;


}
.logo img{
  max-height: 40px;
  transition: all 0.3s ease 0s;
  margin-left: 54px;
}

nav ul {
display: flex;
list-style: none;
margin: auto 0;
padding: 0 35px 4px;
margin-right: 44px;
}
nav ul li{
  margin: 0 2px;
}
nav ul li a{
  color:#324161;
  font-size: 20px;
  font-weight: 10px;
  text-decoration: none;
  text-transform: 'poppins';
  letter-spacing: 1px;
  padding: 10px 20px;
}


#bouton-nav-partner{
  background:#fab91a;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
}


//fin

//mobile
@media screen and (max-width:1250px) {
  .navbar{
      display:flex;
      padding: 0;
  }
  nav {
      display: flex;
      padding: 0;


  }
  nav .logo{
      display: inline-block;
      padding: 15px 30px;

  }
  nav .search_box{
      width: 100%;
      display: inline flex;
      justify-content: center;
      margin-bottom: 15px;
  }
  nav .search_box input{
      width: 90%;
  }
  nav ol{
      background: #324161;
      text-align: center;
      display: flex;
      flex-direction: column;
      height: 0;
      visibility: hidden;


  }

  nav ol li{
      justify-content: center;
  }
  nav ol li a{
      color: white;
      font-size: 20px;
      padding: 25px;
      display: block;

  }
  nav .bar{
      display: block;
      position: absolute;
      top: 45px;
      left: 24px;
      cursor: pointer;

  }
  nav .bar #times{
      display: none;
  }
  #check:checked ~ nav .bar #times{
      display:block;
  }
  #check:checked ~ nav .bar #bars{
      display: none;
  }
  #check:checked ~ nav ol{
      visibility: visible;
      height: 230px;

  }


}


//fin
