<app-header></app-header>
  <br>  
  <br> 
  <br>
  <br>

<div class="container" *ngIf="loginform">   
    <div class="row justify-content-center">    
        <div class=" col-sm-6 col-md-5">
            <form class="form-container">
                <h4>Connexion</h4>
                <p>Pas de compte?<i class="fa fa-user fa-2x" style="margin-left: 10px;color: blue;
                    "aria-hidden="true"></i><a href="/users/registertopay" style="margin-left: 10px;">Je m'inscris</a></p><br>
                    <!----
                <p style="vertical-align: 3px;">Envie de vendre?<i  class="fa fa-handshake-o fa-2x" style="margin-left: 10px;color: blue;
                    "aria-hidden="true"></i><a href="/partners" style="margin-left: 10px;vertical-align: 3px;">je deviens partenaire</a></p><br>
                -->
               
               <div class="mb-3">
                <input type="email" class="form-control"  name="email" placeholder="E-mail" [(ngModel)]="email">
               
            </div><br>
            <div *ngIf="maile" class="alert alert-warning alert-dismissible fade show" role="alert">{{message.email}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
             

                <div class="mb-3">
                    <!--<div class="checkbox">
                        <input type="checkbox" id="checkbox">
                        afficher le mot de passe
                    </div>
                -->
                <input type="password" class="form-control" id="pass" name="pwd" placeholder="Mot de passe" [(ngModel)]="password">
                
                </div>
                <div class="col-lg-1" style="top: 0px;">
                    <span width="50" height="50">
                      <app-spiner [show]="show" [size]="50"> </app-spiner>
                    </span>
              
                  </div>
                <div *ngIf="epwd" class="alert alert-warning alert-dismissible fade show" role="alert">{{message.password}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input">
               <!----
                <label style="font-size: 12px;" class="form-check-label">Je souhaite rester connecte(e)</label>
                -->
                <a  href="/users/pwdforgot" style="position: relative ;left:45px;">Mot de passe oublie?</a>
                </div>

                <div class="d-grid gap-2  mx-auto">
                <button (click)="login()" class="btn btn btn-lg">Je me connecte</button>
              
               </div>
               <br>  
            </form>
     </div>
   </div>
</div> 
<div class="container" *ngIf="isauth">
  <app-checkout [data]="userdata"  [isauth]="isauth"></app-checkout>
</div>

  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>

<app-footer></app-footer>