.p{
    margin-left: 200px;
}


.container{

    width: 50%;
    position: absolute;
    left:50%;
    top: 60%;
    transform: translate(-50%,-50%);
    font-family: 'Poppins',sans-serif;

}
form{
    width: 100%;
    position: static;
    margin: 30px auto 0 auto;
    display:block;

}
button{
    height: 50px;
    padding: 12px;

}
.btn-warning{
    font-weight: bold;
    background: #fab91a;
    color: white;
}
.btn-warning:hover{

    background: #fab91a;
    color: white;
}
.row{
    display: flex;
}

.header{
  text-align: center;
}

h5{
    color: #324161;
    font-size: 24px;
    font-weight: bold;
}
h6{
    color: #324161;
    font-size: 20px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.form-outline{
    padding: 12px;
}

.new{
    margin-left: 90px;
}

@media screen and (max-width:1250px) {

  .row{
    display: block;}
    .form-outline{
        width: 250px;



    }
    .container{
        display: block;
        position: relative;
    left: 23px;
    top: 634px;
    }
    button{
        width: 250px;
    }
    hr{
        width: 250px;

    }
    a{
        display: flex;
        flex-wrap: nowrap;
    }

}
@media screen and (min-width:415px) and (max-width:1024px)  {
    .container{
        display: block;
        position: relative;
        margin-left: 600px;
    }
    .form-outline{
        width: 350px;

    }
    hr{
        width: 350px;

    }
    button{
        width: 350px;
        display: flex;
    }
}
@media screen and (min-width:415px) and (max-width:768px)  {
    .container{
        margin-left: 390px;
    }
}
@media screen and (min-width:415px) and (max-width:768px)  {
    .container{
        margin-left: 90px;
    }
}
