
<style>
  .control{
    height: 40px;
    border:solid 1px grey ;
    width: 100%;
  }
  body{
    background: grey;
  }
</style>
<app-header></app-header>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="header">
    <h5>{{info}}</h5>
    <h6>Creez votre compte</h6>
  </div>

  <form>
    <!-- 2 column grid layout with text inputs for the first and last names -->

    <div class="row mb-8">
      <div class="col">
        <div class="form-outline">
          <input type="text" class="control"  placeholder="Prenoms" name="lname" [(ngModel)]="data.lname" />
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text"  class="control"  placeholder="Nom" name='fname' [(ngModel)]="data.fname"/>
        </div>
      </div>
    </div>

    <!-- Email input -->
    <div class="row mb-8">
       <div class="col">
            <div class="form-outline">
                <input type="email"  class="control" placeholder="E-mail" name="email" [(ngModel)]="data.email"/>
            </div>
            <div *ngIf="errmsg.email" class="alert alert-warning alert-dismissible fade show" role="alert">{{errmsg.infoemail}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
       </div>
        <!-- Password input -->
        <div class="col">
            <div class="form-outline">
            <input type="text"   class="control" value="+225" placeholder="Telephone" name="phone" [(ngModel)]="data.phone" />
            </div>
            <div *ngIf="errmsg.phone" class="alert alert-warning alert-dismissible fade show" role="alert">{{errmsg.infophone}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>

     </div>
     <div class="row mb-8">
        <div class="col ">
             <div class="form-outline ">
                 <input type="password"  class="control"  placeholder="Mot de passe" name="password" [(ngModel)]="data.password"  />
             </div>
        </div>
        <div class="col ">
          <div class="form-outline ">
              <input type="password"  class="control" placeholder="Confirme mot de passe" name="cpwd" [(ngModel)]="data.cpwd"   />
          </div>
     </div>
     <div *ngIf="errmsg.password" class="alert alert-warning alert-dismissible fade show" role="alert">{{errmsg.infopwd}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      </div>

    <div class="col-lg-1" style="top: 0px;">
      <span width="50" height="50">
        <app-spiner [show]="show" [size]="50"> </app-spiner>
      </span>

    </div>
    <button type="submit" class="btn btn-warning btn-block mb-4" id="sub" (click)="register($event)">Je m'enregistre</button>


    <hr> 
    <!----<button type="submit" class="btn btn-primary btn-block mb-4"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>  S'incrire avec mon compte facebook</button>
    --> 
  </form>
      <div class="new">
      avez- vous un compte? <a routerLink="/users/auth">Connecter-vous</a>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
