
<div class="card-columns">
  <div class="card" >
      <div class="im" style="display: flex;">
      <img src="assets/images/p.jpg" alt="">
      <img src="assets/images/p.jpg"  alt="">
      </div>
      <div class="card-body">
          <h5 class="card-title">Tee-shirt homme </h5>
          <p>6000 <strong>fcfa</strong> </p>
          <button class="btn" id="btn" name="button"> Ajouter au panier</button>
      </div> 
  </div>   

  <div class="card" >
    <div class="im" style="display: flex;">
    <img src="assets/images/p.jpg" alt="">
    <img src="assets/images/p.jpg"  alt="">
    </div>
    <div class="card-body">
        <h5 class="card-title">Tee-shirt homme </h5>
        <p>6000 <strong>fcfa</strong> </p>
        <button class="btn" id="btn" name="button"> Ajouter au panier</button>
    </div> 
</div>   

<div class="card" >
  <div class="im" style="display: flex;">
  <img src="assets/images/p.jpg" alt="">
  <img src="assets/images/p.jpg"  alt="">
  </div>
  <div class="card-body">
      <h5 class="card-title">Tee-shirt homme </h5>
      <p>6000 <strong>fcfa</strong> </p>
      <button class="btn" id="btn" name="button"> Ajouter au panier</button>
  </div> 
</div>   

<div class="card" >
  <div class="im" style="display: flex;">
  <img src="assets/images/p.jpg" alt="">
  <img src="assets/images/p.jpg"  alt="">
  </div>
  <div class="card-body">
      <h5 class="card-title">Tee-shirt homme </h5>
      <p>6000 <strong>fcfa</strong> </p>
      <button class="btn" id="btn" name="button"> Ajouter au panier</button>
  </div> 
</div>   


<div class="card" >
  <div class="im" style="display: flex;">
  <img src="assets/images/p.jpg" alt="">
  <img src="assets/images/p.jpg"  alt="">
  </div>
  <div class="card-body">
      <h5 class="card-title">Tee-shirt homme </h5>
      <p>6000 <strong>fcfa</strong> </p>
      <button class="btn" id="btn" name="button"> Ajouter au panier</button>
  </div> 
</div>   

<div class="card" >
  <div class="im" style="display: flex;">
  <img src="assets/images/p.jpg" alt="">
  <img src="assets/images/p.jpg"  alt="">
  </div>
  <div class="card-body">
      <h5 class="card-title">Tee-shirt homme </h5>
      <p>6000 <strong>fcfa</strong> </p>
      <button class="btn" id="btn" name="button"> Ajouter au panier</button>
  </div> 
</div>   

<div class="card" >
  <div class="im" style="display: flex;">
  <img src="assets/images/p.jpg" alt="">
  <img src="assets/images/p.jpg"  alt="">
  </div>
  <div class="card-body">
      <h5 class="card-title">Tee-shirt homme </h5>
      <p>6000 <strong>fcfa</strong> </p>
      <button class="btn" id="btn" name="button"> Ajouter au panier</button>
  </div> 
</div>   


<div class="card" >
  <div class="im" style="display: flex;">
  <img src="assets/images/p.jpg" alt="">
  <img src="assets/images/p.jpg"  alt="">
  </div>
  <div class="card-body">
      <h5 class="card-title">Tee-shirt homme </h5>
      <p>6000 <strong>fcfa</strong> </p>
      <button class="btn" id="btn" name="button"> Ajouter au panier</button>
  </div> 
</div>   
</div>
<br>



<!--
<div class="card-columns"> 
<div class="card"  *ngFor='let item of url'>
  <img [src]="item" alt="prod" class="card-img-top"  (click)="gotocart($event)" height="100" width="100">
</div>
</div>
data-toggle="modal" data-target="#info"-->

  