.card-columns{
    display: inline-block;
}
img{
    width: 100px;
}
.card{
    //width: 100%;
    margin: 12px;
}
.card-body{
    text-align: center;
}
button{
    height: 40px;
    background: #324161;
    color: white;
    font-family: 'Poppins', sans-serif;
    border: none;
    width: max-content;
}
button:hover{
    background: #324161;
    color: white;
}
h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #324161;
}

button:focus{
    box-shadow: none;
}
@media screen and (max-width:768px) {
    img{
        width: 136px;
    }
    @media screen and (oriantation:landscape) {
        img{
            width: 221px;
        }
    }
}
