



  <div  class="col-md-1 col-sm-1 col-lg-1" style="margin-top:5px;margin-left:100px;background: #fff !important;" id="i">
    <img [src]="URL" height="45" width="45" style="float: left;background: #fff !important;" (click)="addNewItem($event)" [id]="Front">  
    <img [src]="face1" height="45" width="45" style="float: left;background: #fff !important;" (click)="addNewItem($event)" [id]="Back">     
</div>