

<app-header></app-header>
<app-header-categorie></app-header-categorie>
<body>
  <div class="container">
    <div id="body">
      <div class="header">
        <div class="header-blue">
          <H5 class="text">
            <span class="text-blue"> IMPRESSION AFFICHE </span>
            <span class="text-yellow">GRAND FORMAT</span>
          </H5>
          <p class="text-lorem">{{data}}</p>
        </div>
      </div>
    </div>
    <div class="section-personnalisation">
      <div class="row">

        <div class="col-sm-3 perso" *ngFor="let item of disps">
          <div class="img">
            <a [href]="url+item.disp_id">
              <img [src]="item.img" alt="">

            </a>
          </div>
          <div class="txt-produit">
            <p>{{item.name_display}}</p>
          </div>
        </div>
      </div>
    </div>

    <!---
    <div class="section-personnalisation1">
      <div class="txt">
        <p class="txt-yellow">Top Partners</p>
      </div>
      <div class="menu">
        <div class="row produit">
          <div class="col-sm-3">
            <div class="perso1">
              <a href="#">
                <img src="/assets/image/sac-papier.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="perso1">
              <a href="#">
                <img src="/assets/image/sac-papier.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="perso1">
              <a href="#">
                <img src="/assets/image/sac-papier.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="perso1">
              <a href="#">
                <img src="/assets/image/sac-papier.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->

  </div>
</body>

<br><br><br><br><br><br><br><br>
<br><br><br><br>
<br><br>

<app-footer></app-footer>
