<head>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>


  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<nav class="navbar navbar-expand-lg  ">
  <h5>Les categories</h5>
   <div class="container">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"><i style="color: white;" class="fas fa-bars fa-x" ></i></span>
     </button>
    
     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
       
       <div class="navbar-nav">
        <div class="row">
          <div class="col" >
           <a href="displays" class="nav-link">Affichages</a>
         </div>
         
         <div class="col" >
           <span class="vertical-line"></span>
           <a href="cloths" class="nav-link">Vetements</a>
         </div>
         
         <div class="col" >
           <span class="vertical-line"></span>
           <a href="printed" class="nav-link">Imprimés</a>
         </div>
         
         <div class="col" >
           <span class="vertical-line"></span>
           <a href="packages" class="nav-link">Emballages</a>
         </div>
         
         <div class="col" >
           <span class="vertical-line"></span>
           <a href="gadgets" class="nav-link">Gadgets</a>
         </div>
        </div>
       </div>
     </div>
    </div>
   </nav>
   
       

