html{
    max-width: 100%;
    max-height: 100%;
}
.container-fluid{
    width: 100%;

}
.container-flex{
  height: 755px;
}
.modal-body{
    background: #efefef;;
    color: black;
    font-family: 'Poppins',sans-serif;
    font-size: large;
}
h6{
    font-weight: bold;
}
.modal-body strong{
    color: #fab91a;
}
//css top bar
.container{
    background-color: #e4dede;
    width: 100%;
    height: auto;
    margin-top: 23px;
}
.actualite{
    margin-top: 80px;
    justify-content: center;
}
strong{
    font-size: 20px;
    color:white
}
ul li{
    list-style: none;
}
h6{
    margin-left: 28px;
}
.navbar{
    padding: 0 6px 0;
    background: #324161;
    color: white;
    font-family: 'Poppins',sans-serif;
    flex-wrap:wrap;

}
ul{
    display: flex;
}
li{
    list-style: none;
}
.menugauche{
    margin-left:6% ;
    position: relative;
    top: 9px;
}
.menudroit{
    margin-right: 6%;
    position: relative;
    top: 11px;
}
.vertical-line{
    border-left: 2px solid white;
    display:inline;
    height: 20px;
    margin: 0 6px;
    position:center;
    opacity: 100%;
    position: relative;
    top: 15px;
    
}
.nom{
    position: relative;
    top: 15px;
}
.a{
    position: relative;
    bottom: 5px;
    color: white;
    text-decoration: none;
    top: 4px;
}
a{
    text-decoration:none;
}
//fin css top bar
/*
.sidebar{
    //box-shadow: 0 0  3px;
   position:relative;
   bottom:20px;
   right: 20px;
    width: 230px;
    height:600px;
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
    background-color: white;
}
img{
    max-width: 100%;
    max-height: 40px;
    position: relative;
    top: 12px;
}
.ul{
    margin: 20px;
    position: relative;
    
   
   
}
a{
    text-decoration: none;
    color: grey;
}
.hr{
   position: relative;
   top: 238px;
   border: solid 1px;
   color: black;
}
footer{
    position: absolute;
    bottom: 33px;
}
.row-head{
   
    position: relative;
    left: 240px;
    width: 81%;
    bottom: 590px;
    background-color: white;
    padding: 12px;
    border-radius:10px;
    font-family:'Poppins',sans-serif;
   

}
.col-4-1{
    width: 260px;
    
   
}
.card{
    background:#324161;
    text-align: center;
    color: white;
    border: none;
    border-radius:8px;
    width: 244px;
}
hr{
    border: solid  2px white;
}
.card-body{
    max-width:100%;
    max-height:10px;
    padding:8px;
}
p{
    position: relative;
    bottom: 13px;
}
.body{
    position: relative;
bottom: 19px;
}
h4{
    position: relative;
    bottom: 595px;
    left: 240px;
}

.row4{
    position: relative;
    bottom: 393px;
    left: 255px;
    height: 219px;
    width: 100%;
    font-family: 'Poppins',sans-serif;
    color:#324161;
    font-size: 20px;
    font-weight: bold;

}

.hr4{
    border: solid black;
    position: relative;
    top: 10px;
    width: 100%;
}
.col{
    background: white;
    border-radius: 9px;
    margin-left: 5px;
    text-align: center;
    width: 430px;
}
.col1{
    background-color: white;
    border-radius: 9px;
    width: 647px;
    right: 18px;
    position: relative;
}
.avoir{
    position: relative;
    top:3px;
    float: left;
}
.li{
    position: relative;
    top:36px;
   right: 133px;
    font-size: 12px;
}
.strong{
    position: relative;
    font-size: larger;
    top: 34px;
    right: 34px;
    color: #324161;
}*/
//.nav-tabs{
    //margin-left: 103px;
//}
.btn{
    border: none;
    background-color: none;
    box-shadow: none;
}
img{
    max-width: 76%;
    max-height: 48px;
    position: relative;
    top: 12px;
    left: 24px;
}
.link{
    margin-top: 12px;
    position: relative;
    top: 20px;
    font-family:'Poppins',sans-serif;
    //font-size: 30px;
    font-weight: bold;
    color: grey;
}
.d-flex{
    margin-left: 6px;
}
.nav-pills{
    height: 638px;
    background-color: white;
}
.h{
    position: relative;
    top: 45px;
}
.form-inline .form-control{
    width: 100%;
    margin: 4px;
   
}
textarea{
    border: solid 2px #ced4da;
    margin-left: 4px;
    width: 368px;
}
.textarea{
    margin-left: 60px;
    width: 577px;
    height: 200px;
}
h6{
    margin-top: 26px;
    margin-left: 30px;
}
h4{
    margin-top: 16px;
    margin-left: 30px;
    position: relative;
    top: 9px
}
label{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: bold;
   margin-left: 80px;
    color: #324161;
}
.bouton{
    font-size: 20px;
    float: right;
    width: 100%;
    height: 50px;
    border: none;
    background: #324161;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    margin-top:15px ;
}
h4{
    color: #324161;
    font-size: 24px;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
}
.fluid{
    height: 400px;
    width: 98%;
    border-radius: 8px;
    background-color: white;
    margin-top:30px;
}
.nav-tabs{
    margin-bottom:12px ;
}
.link:hover{
    color: grey;
}
.file{
    margin-top: 8px;
    margin-left: 3px;
}
.tab-content{
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    
    width:78%;
}
.nav-tabs .nav-link{
    font-family: 'Roboto';
    font-size: 15px;
}
//css pour le tableau de la commande
table{
    border: solid 2px #324161;
    //border-top: none;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 25px;

}
thead{
    background-color: #324161;
    color: white;
   
 
    
}

.table{
  
   height: 100px;
}
th{
   margin-left: 45px;
}
.fa{
    color:#324161;
    margin-right:20px;
    vertical-align: middle;

}
.img{
    margin-bottom: 30px;
    max-height: 50px;
    max-height: 50px;
    
}
//parametre
.parametre{
    width: 626px;  
    margin-top: auto;
    margin-left: 100px;
}
.para{
    width: 50%;
   
}
.info{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    color: #324161;
   
}
.info:hover{
    text-decoration: none;
    color: #324161;
}
.content{
    margin-top: 55px;
}
.navpara{
    margin-top: 40px;

}
.registre{
    background-color: #fab91a;
    color:white ;
    //margin-top: 13px;
    margin-left: 61px;
    /* position: relative; */
    /* top: 48px; */
    /* right: 525px; */
    height: 61px;
    width: 72%;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: bold;
    border: none;
}
//css mes informations
.form-row{
    margin:12px;
}
.form-row input:focus{
    outline: none;
}
.footer{
    margin-top: 50px;
}
@media  screen and   (min-width:340px) and (max-width:1250px) {
    .container-flex{
        display:block;
    }
    .tab-fade{
        width: 100%;
        display: flex;
    }
    .textarea{
        width: 70%;
    }
    .condition{
        width:100%;
    }
}